:root {
    --backgroundColor: rgba(130, 161, 159, 0.5);
    --borderColor: 5px solid rgba(130, 161, 159, 1);
}

body {
    background-color: rgba(130, 130, 130, 0.6);
}

#start-container{
    background-color: var(--backgroundColor);
    border: var(--borderColor);
    border-radius: 2em;
    height: 150px;
    width: 800px;
    margin: auto;
    text-align: center;

}

h1{
    color: whitesmoke;
    font-size: 25px;

}

#game-container {

    background-color: var(--backgroundColor);
    border: var(--borderColor);
    height:150px;
    width: 800px;
    margin:auto;
    text-align: center;
}

#input {
    width: 100px;
    margin: 20px auto;

}

#startButton{
    background-color: rgba(186, 86, 115, 0.2);
    border-radius: 2em;
    width: 200px;
    height: 50px;
}

#btn {
    margin: 20px auto auto 5px;
}